<h1>Create</h1>

<form method="POST">
	<label>Id Hospital</label>
	<input type="text" name="idhospital" />
	<label>Nombre: </label>
	<input type="text" name="nombre" />
		<label>Direccion</label>
		<input type="text" name="direccion"/>
		<label>Telefono</label>
		<input type="text" name="telefono"
		<label>Camas</label>
		<input type="text" name="camas" />
		<button>Create</button>
</form>

<h2>@ViewData["MENSAJE"]</h2>